	<!-- start footer Area -->
	<footer class="footer-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer-top flex-column">
						<div class="footer-logo">
							<a href="#">
								<img width="60px" src="assets/img/jucema-isotipo.png" alt="Jucema">
							</a>
							<h4>Sigueme</h4>
						</div>
						<div class="footer-social">
							<a href="https://twitter.com/jucema89" target="_blank"><i class="fab fa-twitter-square grow"></i></a>
							<a href="https://github.com/Jucema89" target="_blank"><i class="fab fa-github-square grow"></i></a>
							<a href="https://www.behance.net/jucema" target="_blank"><i class="fab fa-behance-square grow"></i></a>
							<a href="https://www.linkedin.com/in/julio-cesar-martinez-daza-3361b1151/" target="_blank"><i class="fab fa-linkedin-square grow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer-bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy; {{ anio }} Todos los derechos reservados <br>
<b>| Hecho con  <i class="fa fa-heart" aria-hidden="true"></i> &amp; <i class="fab fa-angular"></i> |</b>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->