	<!-- start banner Area -->
	<section class="home-banner-area">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center">
				<div class="banner-content col-lg-6 col-md-12 justify-content-center ">
					<div class="me wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.2s">It's me</div>
					<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">Julio Martinez</h1>
					<div class="designation mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s">
						Diseñador
						<span class="designer">Gráfico</span>
						y Desarrollador 
						<span class="developer">Frontend</span>
					</div>
					<a href="#" class="primary-btn" data-text="Contratame">
						<span>C</span>
						<span>o</span>
						<span>n</span>
						<span>t</span>
						<span>r</span>
						<span>a</span>
            <span>t</span>
            <span>a</span>
            <span>m</span>
            <span>e</span>
					</a>
				</div>
				<div class="banner-img col-lg-6 col-md-6 align-self-end">
					<img class="img-fluid" src="assets/img/foto-julio.png" alt="">
				</div>
			</div>
		</div>
	</section>
  <!-- End banner Area -->
  
  <!-- Start brands Area -->
	<section class="brands-area">
		<div class="container">
			<div class="brand-wrap">
				<div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="assets/img/brand/codeco-cliente.png" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="assets/img/brand/lissypet-cliente.png" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="assets/img/brand/dentall-cliente.png" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="assets/img/brand/sofisis-cliente.png" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="assets/img/brand/cameo-cliente.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
  <!-- End brands Area -->
  
 <!-- Start Service Area -->
	<section class="service-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Mis Servicios</h2>
						<p>Años de trabajo y aprendizaje me hacen competente en area de diseño y programacion, desde diseñar la marca
               o imagen corporativa, hasta el desarrollo de webs especificas y campañas para mejorar el marketing digital.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s">
						<span class="lnr lnr-laptop-phone"></span>
						<h4>
							<span>Web</span> Design
						</h4>
						<p>Diseño y Desarrollo de paginas webs adaptables y con buen performance</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
              <span class="lnr lnr-crop"></span>
						<h4><span>Diseño</span> Gráfico
						</h4>
						<p>Creación de material corporativo, branding, publicidad y Mockups</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
						<span class="lnr lnr-store"></span>
						<h4><span>Desarrollo</span> de Ecommerce
						</h4>
						<p>E-commerce completos con servidor, diseño, modulos y pasarela de pagos.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
						<span class="lnr lnr-bullhorn"></span>
						<h4><span>Marketing</span> Digital
						</h4>
						<p>Campañas para Facebook Ads, Google Ads, analiticas y metricas de conversión.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Service Area -->
	<app-contacto></app-contacto>
