<!-- Start Job History Area Area -->
<section class="job-area offwhite section-gap-top section-gap-bottom-90">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-12 p-5">
        <div class="section-title">
          <h2>Historia Laboral</h2>
          <p class="parrafo">
            Con 5 años dentro del mundo tech, 
            he desarrollado proyectos freelance para diversos clientes y también he 
            sido contratado de manera exclusiva por empresas; en ambas facetas me siento 
            cómodo y  he entregado lo mejor de mí.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <!--Empresa LissyPet-->
    <div class="col-lg-6">
      <div class="single-job">
        <div class="top-sec d-flex justify-content-between">
          <div class="top-left">
            <h4>Frontend Developer</h4>
            <p>LissyPet® / Empleado Remoto</p>
          </div>
          <div class="top-right">
            <a href="#" class="primary-btn" data-text="Feb '18 a Ene '21">
              <span>F</span><span>e</span><span>b</span>
              <span>'</span><span>1</span><span>8</span>
              <span>-</span>
              <span>E</span><span>n</span><span>e</span>
              <span>'</span><span>2</span><span>1</span>
            </a>
          </div>
        </div>
        <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
          Diseño, desarrollo y despliegue de Ecommerce, creación de imagen de marca, diseño de 
          catálogo de productos y fotografía de producto<br>
            <b>Contacto:</b> Dra. Clara Delgado<br><br>
            <a class="primary-btn" data-text="Ver Trabajo" href="https://lissypet.com/" target="_blank">
            <span>V</span><span>e</span><span>r</span>
            <span>T</span><span>r</span><span>-</span><span>b</span><span>-</span><span>j</span><span>o</span>
            </a>
        </div>
      </div>
    </div>
      <!--Empresa Domino-->
      <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Desarrollador FullStack</h4>
              <p>Full Domino / Freelance</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Feb '20 a Nov '20">
                <span>F</span><span>e</span><span>b</span>
                <span>'</span><span>2</span><span>0</span>
                <span>-</span>
                <span>N</span><span>o</span><span>v</span>
                <span>'</span><span>2</span><span>0</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
            Diseño, desarrollo y despliegue de aplicación de gestión de torneos de Domino con sincronización de bases de datos online y offline. Aplicación en Electron Js<br>
              <b>Contacto:</b> Sr. Alfredo Cervantes<br><br>
              <a class="primary-btn" data-text="Ver Trabajo" href="https://github.com/Jucema89/appDomino" target="_blank">
              <span>V</span><span>e</span><span>r</span>
              <span>T</span><span>r</span><span>-</span><span>b</span><span>-</span><span>j</span><span>o</span>
              </a>
          </div>
        </div>
    </div>
    <!--Empresa CMCS-->
    <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Web Developer &amp; Ads</h4>
              <p>CMCS / Freelance</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Ago '18 a Jul 19">
                <span>A</span><span>g</span><span>o</span>
                <span>'</span><span>1</span><span>8</span>
                <span> - </span>
                <span>J</span><span>u</span><span>l</span>
                <span>'</span><span>1</span><span>9</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
            Desarrollo web para Empresa de Limpieza 
            de Columbus Ohio EEUU; diseño, desarrollo y
            despliegue en wordpress en inglés con 
            campañas en Facebook Ads y Google Ads.<br>
              <b>Contacto:</b> Mr. Hooker<br><br>
              <a class="primary-btn" data-text="Ver Trabajo" href="https://cmcscleaning.com/" target="_blank">
              <span>V</span><span>e</span><span>r</span>
              <span>T</span><span>r</span><span>-</span><span>b</span><span>-</span><span>j</span><span>o</span>
              </a>
          </div>
        </div>
    </div>
    <!--Empresa Sofisis-->
    <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Desarrollador Frontend</h4>
              <p>Sofisis / Freelance</p>
            </div>
            <div class="top-right">
              <a href=""  class="primary-btn" data-text="Jul '18 a Nov '18">
                <span>J</span><span>u</span><span>l</span>
                <span>'</span><span>1</span><span>8</span>
                <span>-</span>
                <span>N</span><span>o</span><span>v</span>
                <span>'</span><span>1</span><span>8</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
            Diseño y Desarrollo del website de Sofisis, siguiendo el manual de identidad visual. 
            Desarrollo en Html – Css y Js, usando 
            librerías y código previo provisto por el equipo de Backend (Python-Django).<br>
              <b>Contacto:</b> Sr. Cesar Cadavid<br><br>
              <a class="primary-btn" data-text="Ver Trabajo" href="https://jucema89.github.io/sofisis-project/" target="_blank">
              <span>V</span><span>e</span><span>r</span>
              <span>T</span><span>r</span><span>-</span><span>b</span><span>-</span><span>j</span><span>o</span>
              </a>
          </div>
        </div>
    </div>
    
    <!--Empresa Dentali-->
    <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Diseñador Gráfico &amp; Web</h4>
              <p>Dentali / Empleado</p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Sept '16 a Mar '17">
                <span>S</span><span>e</span><span>p</span>
                <span>'</span><span>1</span><span>6</span>
                <span>-</span>
                <span>M</span><span>-</span><span>r</span>
                <span>'</span><span>1</span><span>7</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
            Edición de Catálogo, Flyers, retoque 
            fotográfico, edición de código fuente 
            Wordpress para sitio, manejo de campañas AdWords y Facebook Ads, edición de vídeo publicitario.<br>
              <b>Contacto:</b> Sr. Duvan Cadavid<br><br>
              <a class="primary-btn" data-text="Ver Trabajo" href="https://www.dentali.com.co/" target="_blank">
              <span>V</span><span>e</span><span>r</span>
              <span>T</span><span>r</span><span>-</span><span>b</span><span>-</span><span>j</span><span>o</span>
              </a>
          </div>
        </div>
    </div>
    <!--Empresa Cameo-->
    <div class="col-lg-6">
        <div class="single-job">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>Desarrollador Frontend</h4>
              <p>Cameo Comunicaciones / Freelance </p>
            </div>
            <div class="top-right">
              <a href="#" class="primary-btn" data-text="Ene '18 a Feb '18">
                <span>E</span><span>n</span><span>e</span>
                <span>'</span><span>1</span><span>8</span>
                <span>-</span>
                <span>F</span><span>e</span><span>b</span>
                <span>'</span><span>1</span><span>8</span>
              </a>
            </div>
          </div>
          <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
            Maquetación, diseño e implementación de página web, mejora de instalación de CMS, gestión de certificados de seguridad, 
            optimización de tiempo de carga y 
            actualización de módulos, conexión con Analytics y Search Console.<br>
              <b>Contacto:</b> Sr. Alejandro Montoya<br><br>
              <a class="primary-btn" data-text="Ver Trabajo" href="https://cameocomunicaciones.com/" target="_blank">
              <span>V</span><span>e</span><span>r</span>
              <span>T</span><span>r</span><span>-</span><span>b</span><span>-</span><span>j</span><span>o</span>
              </a>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
<app-contacto></app-contacto>
<!-- End Job Historyt Area Area -->