<section id="skills-section" class="section-gap-top section-gap-bottom-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 proj-progress-card" >
        <div class="section-title">
          <h2>
            Mis Habilidades
          </h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
          <div class="container">
                    <div class="cardSpecial proj-progress-card">
                        <div class="cardSpecial-block">
                            <div class="row">
                                <!--Card Skill Angular-->
                                <div class="col-lg-3 col-md-6 grow">
                                  <div class="container">
                                  <div class="row">
                                    <div class="iconSkill angularIcon col-md-4">
                                      <i class="fab fa-angular"></i>
                                    </div>
                                    <div class="col-md-8">
                                      <h6>Angular Framework</h6>
                                      <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-red m-l-10">+90%</span></h5>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="progress">
                                        <div class="progress-bar bg-c-red" style="width:90%"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--Card Skill End-->
                              <!--Card Skill NodeJs-->
                              <div class="col-lg-3 col-md-6 grow">
                                <div class="container">
                                <div class="row">
                                  <div class="iconSkill nodejsIcon col-md-4">
                                    <i class="fab fa-node-js"></i>
                                  </div>
                                  <div class="col-md-8">
                                    <h6>Node Js / Entorno Backend</h6>
                                    <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-green m-l-10">+60%</span></h5>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="progress">
                                      <div class="progress-bar bg-c-green" style="width:60%"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--Card Skill End-->
                          <!--Card Skill Javascript-->
                          <div class="col-lg-3 col-md-6 grow">
                            <div class="container">
                            <div class="row">
                              <div class="iconSkill jsIcon col-md-4">
                                <i class="fab fa-js-square"></i>
                              </div>
                              <div class="col-md-8">
                                <h6>Javascript / Lenguaje</h6>
                                <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-yellow m-l-10">+90%</span></h5>
                              </div>
                              <div class="col-md-12">
                                <div class="progress">
                                  <div class="progress-bar bg-c-yellow" style="width:90%"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--Card Skill End-->
                         <!--Card Skill Bootstrap-->
                      <div class="col-lg-3 col-md-6 grow">
                        <div class="container">
                        <div class="row">
                          <div class="iconSkill bootstrapIcon col-md-4">
                            <i class="fab fa-bootstrap"></i>
                          </div>
                          <div class="col-md-8">
                            <h6>Bootstrap / Libreria de CSS</h6>
                            <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-purple m-l-10">+95%</span></h5>
                          </div>
                          <div class="col-md-12">
                            <div class="progress">
                              <div class="progress-bar bg-c-purple" style="width:95%"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Card Skill End-->
                        <!--Card Skill Html5-->
                    <div class="col-lg-3 col-md-6 grow">
                          <div class="container">
                          <div class="row">
                            <div class="iconSkill htmlIcon col-md-4">
                              <i class="fab fa-html5"></i>
                            </div>
                            <div class="col-md-8">
                              <h6>Html 5 / Lenguaje de marcado</h6>
                              <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-orange m-l-10">+95%</span></h5>
                            </div>
                            <div class="col-md-12">
                              <div class="progress">
                                <div class="progress-bar bg-c-orange" style="width:95%"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                      <!--Card Skill End-->
                      <!--Card Skill css3-->
                    <div class="col-lg-3 col-md-6 grow">
                        <div class="container">
                        <div class="row">
                          <div class="iconSkill cssIcon col-md-4">
                            <i class="fab fa-css3-alt"></i>
                          </div>
                          <div class="col-md-8">
                            <h6>CCS3 / Estilos y animaciones</h6>
                            <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-blue m-l-10">+95%</span></h5>
                          </div>
                          <div class="col-md-12">
                            <div class="progress">
                              <div class="progress-bar bg-c-blue" style="width:95%"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Card Skill End-->
                     <!--Card Skill Mongo-->
                     <div class="col-lg-3 col-md-6 grow">
                      <div class="container">
                      <div class="row">
                        <div class="iconSkill nodejsIcon col-md-4">
                          <i class="fab fa-envira"></i>
                        </div>
                        <div class="col-md-8">
                          <h6>Mongo DB / Base de Datos</h6>
                          <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-green m-l-10">+75%</span></h5>
                        </div>
                        <div class="col-md-12">
                          <div class="progress">
                            <div class="progress-bar bg-c-green" style="width:75%"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Card Skill Wordpress-->
                  <div class="col-lg-3 col-md-6 grow">
                    <div class="container">
                    <div class="row">
                      <div class="iconSkill cssIcon col-md-4">
                        <i class="fab fa-wordpress"></i>
                      </div>
                      <div class="col-md-8">
                        <h6>Wordpress / CMS Web y Blogging</h6>
                        <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-blue m-l-10">+95%</span></h5>
                      </div>
                      <div class="col-md-12">
                        <div class="progress">
                          <div class="progress-bar bg-c-blue" style="width:95%"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <!--Card Skill End-->

                  <!--Card Skill End-->
                  <!--Card Skill Linux-->
                  <!-- <div class="col-lg-3 col-md-6 grow">
                    <div class="container">
                    <div class="row">
                      <div class="iconSkill linuxIcon col-md-4">
                        <i class="fab fa-linux"></i>
                      </div>
                      <div class="col-md-8">
                        <h6>Linux Server / Ubuntu y Centos</h6>
                        <h5 class="m-b-30 f-w-700">Expertise<span class="text-c-dark m-l-10">+80%</span></h5>
                      </div>
                      <div class="col-md-12">
                        <div class="progress">
                          <div class="progress-bar bg-c-dark" style="width:80%"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div> -->
              </div>
            </div>
          </div>
      </div>
      </div>
    <div class="col-lg-12 col-md-12 text-center">
      <button class="primary-btn btn-skills" routerLink="habilidades" data-text="Más habilidades">
        <span>V</span>
				<span>e</span>
        <span>r</span>
        <span>_</span>
        <span>T</span>
				<span>o</span>
				<span>d</span>
				<span>a</span>
				<span>s</span>
      </button>
    </div>
  </div>
  </div>
</section>

