<div id="btn-menu-float" class="model-3 navbar fixed-bottom">
  <div class="float-btn-group fixed-bottom fixed-bottom">
    <button class="btn-float btn-triger yellow">
      <i class="lnr lnr-menu"></i></button>
     <div class="btn-list">
        <a class="btn-float dark" routerLink="sobremi"><i class="lnr lnr-user"></i></a>
        <a class="btn-float blue" routerLink="portafolio"><i class="lnr lnr-briefcase"> </i></a>
        <a class="btn-float green" routerLink="experiencia"><i class="lnr lnr-license"> </i></a>
        <a class="btn-float purple" routerLink="habilidades"><i class="lnr lnr-rocket"> </i></a>
    </div>
  </div>
</div>
