	<!-- Start About Area -->
	<section class="about-area section-gap">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 about-left">
            <img class="img-fluid" src="assets/img/foto-about-julio.png" alt="">
          </div>
          <div class="col-lg-5 col-md-12 about-right">
            <div class="section-title">
              <h2>Sobre Mi</h2>
            </div>
            <div class="mb-50 wow fadeIn" data-wow-duration=".8s">
              <p>
                Soy una persona proactiva, que ama aprender; me encanta el diseño en todas sus formas. 
                Comencé hace 10 años diseñando a mano, luego pase al diseño gráfico digital, para después 
                engancharme con el diseño web; en un principio, usando 
                gestores de contenido de base y luego, usando solo código y frameworks como Angular. 
              </p>
              <p>
                Desarrolle diversas habilidades en la medida que mis clientes requerían diversas cosas, en el 
                entorno digital, tales como: landings optimizadas para conversión, SEO con contenido y keywords, 
                lectura de analítica para Ads, administración de servidores Linux, montaje de Ecommerce… en fin. 
                Así desarrolle un perfil de Graphic and Web Designer con conocimiento en estrategia digital y 
                deploy en servidores. Obteniendo una visión general, de lo que es el desarrollo web, desde un 
                Wireframe/Mockup hasta el despliegue final de una aplicación en servidores. 
              </p>
            </div>
            <a href="https://jucema.com/curriculum-julio-martinez.pdf" target="_blank" class="primary-btn" data-text="Curriculum">
              <span>C</span>
              <span>u</span>
              <span>r</span>
              <span>r</span>
              <span>i</span>
              <span>c</span>
              <span>u</span>
              <span>l</span>
              <span>u</span>
              <span>m</span>
              <span>  </span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Area -->

    <!-- Superpowers -->
    <section class="job-area offwhite">
      <div class="container">
          <div class="row d-flex superpowers">
              <div class="col-lg-5 col-md-6 about-right">
                <div class="section-title">
                  <h2>Mis Superpoderes</h2>
                </div> 
              </div>
          </div>
          <!--Habilidades de Desarrollo-->
          <div class="row d-flex superpowers">
              <div class="col-md-4 about-right">
                  <h4>Desarrollo Web</h4> 
                  <p> Cuento con las mejores skills que me hacen eficaz en tareas de diseño, desarrollo e implementación de sitios web en solo código o usando un CMS. Conocedor de las últimas tecnologías y 
                    herramientas en torno al FrontEnd; siento especial afinidad por el Framework Angular, pero
                    abierto aprender e implementar otras tecnologías 
                    (React – Vue - Ember).</p>        
            </div>
            <div class="col-md-8 row text-center">

                <div class="col-md-2 icon4 grow">
                   <i class="fab fa-html5"></i>
                 </div>
                <div class="col-md-2 icon6 grow">
                    <i class="fab fa-css3-alt"></i>
                </div>
                <div class="col-md-2 icon2 grow">
                  <i class="fab fa-js-square"></i>
                </div>
                <div class="col-md-2 icon1 grow">
                  <i class="fab fa-angular"></i>
                </div>
                <div class="col-md-2 icon5 grow">
                    <i class="fab fa-wordpress"></i>
                </div>
            </div>
        </div>

                <!--Habilidades de Diseño-->
          <div class="row d-flex superpowers">
                <div class="col-lg-5 col-md-6 about-right">
                <h4>Diseño Gráfico</h4>
                  <p>Creación de piezas gráficas únicas, basado en la idea del cliente; montaje de vistas previas y diseño de Mockups. Desarrollo de imagen corporativa y creación de Manuales de Identidad Visual y 
                    corporativa, creación de piezas para publicidad impresa y digital, diseño de wireframes. 
                    Actualmente aprendiendo diseño de interfaces para mejorar la Experiencia de Usuario UI/UX.</p>        
              </div>
                <div class="col-md-6 superpowers d-flex row text-center">
                  <div class="col-md-4 fi1 grow">
                    <i class="flaticon-adobe-illustrator"></i>
                  </div>
                  <div class="col-md-4 fi2 grow">
                    <i class="flaticon-adobe-photoshop"></i>
                  </div>
                  <div class="col-md-4 fi3 grow">
                    <i class="flaticon-adobe-indesign"></i>
                  </div>
                  
                </div>
          </div>

          <!--otras habilidades-->
          <div class="row d-flex superpowers">
              <div class="col-lg-5 col-md-6 about-right">
              <h4>Otras Habilidades</h4>
                <p> Durante el tiempo trabajado y gracias a peticiones puntuales de los clientes he aprendido a manejar 
                  ciertas tecnologías específicas; con las que más he desarrollado habilidad son: servidor apache, 
                  manejo de terminal Linux, administración de DNS, en CMSs en Wordpress y woocommerce, para Ecommerce en Prestashop. </p>        
            </div>
              <div class="col-md-6 superpowers d-flex row text-center">
                <div class="col-md-4 grow">
                  <img class="other-skills" src="/assets/img/brand/apache.png" alt="Apache Server">
                </div>
                <div class="col-md-4 fi2 grow">
                    <img class="other-skills" src="/assets/img/brand/prestashop.png" alt="Prestashop">
                </div>
                <div class="col-md-4 fi3 grow">
                    <img class="other-skills" src="/assets/img/brand/woocommerce.png" alt="Woocommerce">
                </div>
                
              </div>
        </div>


      </div>
    </section>
    <!-- Superpowers end -->

    <!-- Start Job History Area Area -->
    <section class="job-area offwhite section-gap-top section-gap-bottom-90">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Historia Laboral</h2>
              <p>
                Con 7 años dentro del mundo del diseño gráfico y desarrollo de websites, 
                he desarrollado proyectos freelance para diversos clientes y también he 
                sido contratado de manera exclusiva por empresas; en ambas facetas me siento 
                cómodo y  he entregado lo mejor de mí.
              </p>
            </div>
          </div>
        </div>
  
        <div class="row">
            <!--Empresa CMCS-->
            <div class="col-lg-6">
                <div class="single-job">
                  <div class="top-sec d-flex justify-content-between">
                    <div class="top-left">
                      <h4>Web Developer &amp; Ads</h4>
                      <p>CMCS / Freelance</p>
                    </div>
                    <div class="top-right">
                      <a href="#" class="primary-btn" data-text="Ago '18 a Hoy">
                        <span>A</span><span>g</span><span>o</span>
                        <span>'</span><span>1</span><span>8</span>
                        <span>a</span>
                        <span>H</span><span>o</span><span>y</span>
                      </a>
                    </div>
                  </div>
                  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
                    Desarrollo web para Empresa de Limpieza 
                    de Columbus Ohio EEUU; diseño, desarrollo y
                     despliegue en wordpress en ingles con 
                    campañas en Facebook Ads y Google Ads.<br>
                      <b>Contacto:</b> Mr. Hooker +1 (614) 364 0997<br><br>
                      <a class="primary-btn" data-text="Ver Trabajo" href="https://carmensmagicleaning.com/" target="_blank">
                      <span>V</span><span>e</span><span>r</span>
                      <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
                      </a>
                  </div>
                </div>
            </div>
            <!--Empresa CODECO-->
            <div class="col-lg-6">
                <div class="single-job">
                  <div class="top-sec d-flex justify-content-between">
                    <div class="top-left">
                      <h4>Graphic &amp; Web Designer</h4>
                      <p>Codeco / Freelance</p>
                    </div>
                    <div class="top-right">
                      <a href="#" class="primary-btn" data-text="Oct '18 a Hoy">
                        <span>O</span><span>c</span><span>t</span>
                        <span>'</span><span>1</span><span>8</span>
                        <span>a</span>
                        <span>H</span><span>o</span><span>y</span>
                      </a>
                    </div>
                  </div>
                  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
                    Creación de catálogo de productos, diseño, desarrollo y despliegue de Ecommerce 
                    basado en Prestashop, creación de campañas en Facebook.<br>
                      <b>Contacto:</b> Dra. Eilen 310 8324239<br><br>
                      <a class="primary-btn" data-text="Ver Trabajo" href="https://codeco.com.co/" target="_blank">
                      <span>V</span><span>e</span><span>r</span>
                      <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
                      </a>
                  </div>
                </div>
            </div>
            <!--Empresa Sofisis-->
            <div class="col-lg-6">
                <div class="single-job">
                  <div class="top-sec d-flex justify-content-between">
                    <div class="top-left">
                      <h4>Desarrollador Frontend</h4>
                      <p>Sofisis / Freelance</p>
                    </div>
                    <div class="top-right">
                      <a href=""  class="primary-btn" data-text="Jul '18 a Nov '18">
                        <span>J</span><span>u</span><span>l</span>
                        <span>'</span><span>1</span><span>8</span>
                        <span>a</span>
                        <span>N</span><span>o</span><span>v</span>
                        <span>'</span><span>1</span><span>8</span>
                      </a>
                    </div>
                  </div>
                  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
                    Diseño y Desarrollo del website de Sofisis, siguiendo el manual de identidad visual. 
                    Desarrollo en Html – Css y Js, usando 
                    librerías y código previo provisto por el equipo de Backend (Python-Django).<br>
                      <b>Contacto:</b> Sr. Duvan 310 6218801<br><br>
                      <a class="primary-btn" data-text="Ver Trabajo" href="https://jucema89.github.io/sofisis-project/" target="_blank">
                      <span>V</span><span>e</span><span>r</span>
                      <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
                      </a>
                  </div>
                </div>
            </div>
            <!--Empresa LissyPet-->
            <div class="col-lg-6">
                <div class="single-job">
                  <div class="top-sec d-flex justify-content-between">
                    <div class="top-left">
                      <h4>Graphic &amp; Web Designer</h4>
                      <p>LissyPet® / Empleado Remoto</p>
                    </div>
                    <div class="top-right">
                      <a href="#" class="primary-btn" data-text="Feb '18 a Oct '18">
                        <span>F</span><span>e</span><span>b</span>
                        <span>'</span><span>1</span><span>8</span>
                        <span>a</span>
                        <span>O</span><span>c</span><span>t</span>
                        <span>'</span><span>1</span><span>8</span>
                      </a>
                    </div>
                  </div>
                  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
                    Creación de imagen de marca, diseño de 
                    catálogo de productos; diseño, desarrollo y despliegue de Ecommerce basado en 
                    Prestashop, creación de campañas en 
                    Facebook Ads.<br>
                      <b>Contacto:</b> Dra. Eilen 310 8324239<br><br>
                      <a class="primary-btn" data-text="Ver Trabajo" href="https://lissypet.com/" target="_blank">
                      <span>V</span><span>e</span><span>r</span>
                      <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
                      </a>
                  </div>
                </div>
            </div>
            <!--Empresa Dentali-->
            <div class="col-lg-6">
                <div class="single-job">
                  <div class="top-sec d-flex justify-content-between">
                    <div class="top-left">
                      <h4>Diseñador Gráfico &amp; Ads</h4>
                      <p>Dentali / Empleado</p>
                    </div>
                    <div class="top-right">
                      <a href="#" class="primary-btn" data-text="Sept '16 a Mar '17">
                        <span>S</span><span>e</span><span>p</span>
                        <span>'</span><span>1</span><span>6</span>
                        <span>a</span>
                        <span>M</span><span>a</span><span>r</span>
                        <span>'</span><span>1</span><span>7</span>
                      </a>
                    </div>
                  </div>
                  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
                    Edición de Catálogo, Flyers, retoque 
                    fotográfico, edición de código fuente 
                    Wordpress para sitio, manejo de campañas AdWords y Facebook Ads, edición de vídeo publicitario.<br>
                      <b>Contacto:</b> Sr. Duvan 310 6218801<br><br>
                      <a class="primary-btn" data-text="Ver Trabajo" href="https://www.dentali.com.co/" target="_blank">
                      <span>V</span><span>e</span><span>r</span>
                      <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
                      </a>
                  </div>
                </div>
            </div>
            <!--Empresa Cameo-->
            <div class="col-lg-6">
                <div class="single-job">
                  <div class="top-sec d-flex justify-content-between">
                    <div class="top-left">
                      <h4>Desarrollador Frontend</h4>
                      <p>Cameo Comunicaciones / Freelance </p>
                    </div>
                    <div class="top-right">
                      <a href="#" class="primary-btn" data-text="Ene '18 a Feb '18">
                        <span>E</span><span>n</span><span>e</span>
                        <span>'</span><span>1</span><span>8</span>
                        <span>a</span>
                        <span>F</span><span>e</span><span>b</span>
                        <span>'</span><span>1</span><span>8</span>
                      </a>
                    </div>
                  </div>
                  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
                    Maquetación, diseño e implementación de página web, mejora de instalación de CMS, gestión de certificados de seguridad, 
                    optimización de tiempo de carga y 
                    actualización de módulos, conexión con Analytics y Search Console.<br>
                      <b>Contacto:</b> Sra. Natalia 316 6938762<br><br>
                      <a class="primary-btn" data-text="Ver Trabajo" href="https://cameocomunicaciones.com/" target="_blank">
                      <span>V</span><span>e</span><span>r</span>
                      <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
                      </a>
                  </div>
                </div>
            </div>

          
        </div>
      </div>
    </section>
    <!-- End Job Historyt Area Area -->
  
    <!-- Start Testimonials Area -->
    <section class="testimonials_area section-gap">
      <div class="container">
        <div class="testi_slider owl-carousel">
          <div class="item">
            <div class="testi_item">
              <img class="img-responsive" src="assets/img/reviews/eilen-lissypet.jpg" alt="">
              <h4>Dra. Eilen Delgado</h4>
              <p class="text-muted">CEO LissyPet®</p>
              <ul class="list">
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
              </ul>
              <div class="wow fadeIn" data-wow-duration="1s">
                <p>
                    Julio aclaro muchas de nuestras dudas, diseño y desarrollo un sitio que pudiera ser manejado por nuestros comerciales sin complicaciones.
                    <br> Muy comprometido y atento.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testi_item">
              <img src="assets/img/reviews/jeferson-ilvitra.jpg" alt="">
              <h4>Jeferson Cañon</h4>
              <p class="text-muted">CEO Ilvitra®</p>
              <ul class="list">
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
              </ul>
              <div class="wow fadeIn" data-wow-duration="1s">
                <p>
                    Nos apoyó creando un sitio web en código para la empresa, aprovecho la poca capacidad que poseía nuestro servidor. 
                    <br>Fue rápido y cumplido.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testi_item">
              <img src="assets/img/reviews/alejandro-cameo.jpg" alt="">
              <h4>Alejandro Montoya</h4>
              <p class="text-muted">Dir. Cameo Comunicaciones</p>
              <ul class="list">
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
              </ul>
              <div class="wow fadeIn" data-wow-duration="1s">
                <p>
                    Julio migro nuestro wordpress y le dio mejor visualización en Google, modifico la apariencia del sitio a lo que queríamos. 
                    <br> Trabajamos bien a pesar de estar distantes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Testimonials Area -->
  <app-contacto></app-contacto>