	<!-- Start About Area -->
	<section class="about-area section-gap sobremi-section">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 about-left">
            <img class="img-fluid" src="assets/img/foto-about-julio.png" alt="">
          </div>
          <div class="col-lg-5 col-md-12 pt-5">
            <div class="section-title">
              <h2>Sobre Mí</h2>
            </div>
            <div class="mb-50 wow fadeIn" data-wow-duration=".8s">
              <p class="description">
                Soy un desarrollador proactivo que aprende
                rápido y orientado al logro. Me encantan los retos
                y el café, mi meta es seguir creciendo como
                programador y ayudar a que otros lo logren
                también.
              </p>
            </div>
            <a href="../../../assets/curriculum-julio-martinez.pdf" target="_blank" class="primary-btn" data-text="Curriculum">
              <span>C</span>
              <span>u</span>
              <span>r</span>
              <span>r</span>
              <span>i</span>
              <span>c</span>
              <span>u</span>
              <span>l</span>
              <span>u</span>
              <span>m</span>
              <span>  </span>
            </a>
            <button class="btn-contact" routerLink="/contacto">
              <i class="lnr lnr-phone-handset" ></i>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="sobremi-section">
      <div class="col-md-12 ml-3 p-3">
        <div class="section-title">
          <h2>Estudios</h2>
        </div>
        <div class="mb-50 wow fadeIn" data-wow-duration=".8s">
          <p class="description">
            Soy un autodidacta muy curioso; lo que he aprendido es porque lo he desarrollado; en ocasiones ha salido mal, luego lo arreglo y aprendo más, yo mismo me considero una versión estable en beta continua.
          </p>
        </div>
        <div class="card-deck">
          <div class="card p5 shadow">
            <div class="card-body">
              <span class="badge badge-warning">Curso en Udemy</span>
              <h5 class="card-title">Master en Javascript</h5>
              <p class="card-text">Curso de cero a profesional sobre el manejo de javascript para desarrollo web y de apps modernas</p>
              <p class="card-text"><small class="text-muted">Terminado en 2018</small></p>
            </div>
          </div>
          <div class="card p5 shadow">
            <div class="card-body">
              <span class="badge badge-warning">Curso en Platzi</span>
              <h5 class="card-title">Framework Angular</h5>
              <p class="card-text">Curso práctico de Angular creando un ecommerce, consumiendo datos de una API y realizando deploy a Firebase</p>
              <p class="card-text"><small class="text-muted">Terminado en 2019</small></p>
            </div>
          </div>
          <div class="card p5 shadow">
            <div class="card-body">
              <span class="badge badge-warning">Curso en Udemy</span>
              <h5 class="card-title">APIs y Rest con Laravel y Angular</h5>
              <p class="card-text">Creación de una backend usando PHP con laravel y una base de datos, consumo posterior de la API con front en Angular</p>
              <p class="card-text"><small class="text-muted">Terminado en 2019</small></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sobremi-section">
      <div class="col-md-12 ml-3 p-3">
        <div class="section-title">
          <h2>Hobbies</h2>
        </div>
        <div class="mb-50 wow fadeIn" data-wow-duration=".8s">
          <p class="description">
            Amo programar y retar a mi cerebro, nunca tengo tiempo para nada, pero si tengo hobbies!😁
          </p>
        </div>
        <div class="card-deck">
          <div class="card p5 shadow">
            <div class="card-body text-center">
              <img src="../../../assets/img/icons/camping-tent.svg" width="80px" ><br>
              <span class="card-title badge badge-success">Acampar</span>
              <p class="card-text">Acampar me lleva a la naturaleza, a sentirme libre y en paz, nada supera ver las montañas al amanecer.</p>
            </div>
          </div>
          <div class="card p5 shadow">
            <div class="card-body text-center">
              <img src="../../../assets/img/icons/camera.svg" width="70px" ><br>
              <span class="card-title badge badge-primary">Fotografia</span>
              <p class="card-text">Me encantan las buenas fotos de paisajes y los retratos, ser creativo con el revelado y la edición también me encanta</p>
            </div>
          </div>
          <div class="card p5 shadow">
            <div class="card-body text-center">
              <img src="../../../assets/img/icons/pot.svg" width="80px" ><br>
              <span class="card-title badge badge-warning">Cocinar</span>
              <p class="card-text">Me gusta comer, por eso amo cocinar; dedicarle tiempo a los que amo con un buen plato no tiene precio.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Area -->

  <app-contacto></app-contacto>