<!-- Start Header Area -->
<header id="header">
  <div class="container main-menu">
    <div class="row align-items-center d-flex">
      <div id="logo">
        <a routerLink=""><img width="190px" src="assets/img/julio-daza-logo.png" alt="Jucema" title="Web Jucema" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li routerLinkActive="active">
            <a routerLink="">Inicio</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="sobremi">Sobre Mí</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="habilidades">Habilidades</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="portafolio">Portafolio</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="experiencia">Experiencia</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="contacto">Contacto</a>
          </li>
          
          
          <!-- <li>
            <a href="https://api.whatsapp.com/send?phone=573227225533&text=Hola%2C%20deseo%20contratar%20sus%20servicios." target="_blank"> <strong><i class="fab fa-whatsapp"></i></strong> 322 7225533 </a>
          </li>
        
          <li class="icon-social-header">
            <a href="https://twitter.com/jucema89" target="_blank"><i class="fab fa-twitter-square grow"></i></a>
          
              <a href="https://github.com/Jucema89" target="_blank"><i class="fab fa-github-square grow"></i></a>
         
              <a href="https://www.behance.net/jucema" target="_blank"><i class="fab fa-behance-square grow"></i></a>
          
              <a href="https://www.linkedin.com/in/julio-cesar-martinez-daza-3361b1151/" target="_blank"><i class="fab fa-linkedin-square grow"></i></a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>




<!-- End Header Area -->
