<!-- Start Header Area -->
<header id="header">
  <div class="container main-menu">
    <div class="row align-items-center d-flex">
      <div id="logo">
        <a routerLink=""><img width="140px" src="assets/img/jucema-logo.png" alt="Jucema" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li routerLinkActive="active">
            <a routerLink="">Inicio</a>
          </li>

          <li routerLinkActive="active">
            <a routerLink="sobremi">Sobre Mi</a>
          </li>

         <li routerLinkActive="active">
            <a routerLink="portafolio">Portafolio</a>
          </li>
          <li routerLinlActive="active">
            <a routerLink="servicios">Servicios</a>
          </li>
          <li>
            <a href="">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- End Header Area -->
