
<!-- start banner Area -->
<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="about-content col-md-4 col-md-offset-8">
					<h1>
						Portafolio
					</h1>
					<p class="link-nav">
						<span class="box">
							<a routerLink="">Inicio </a>
              <a routerLink="sobremi">Sobre Mi</a>
            </span>
          </p>
				</div>
			</div>
		</div>
</section>
	<!-- End banner Area -->

	<!-- Start Work Area Area -->
	<section class="work-area section-gap-top section-gap-bottom-90" id="work">
		<div class="container">
			<div class="row d-flex align-items-center align-items-end mb-80">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Proyectos Gráficos</h2>
						<p>Es un placer para mi presentarte algo de lo diseñado los 
							últimos años,  espero te guste tanto verlos como a mí me gusto diseñarlos.. </p>
					</div>
				</div>
				<!-- Filtros para imagenes
					<div class="col-lg-6">
					<div class="filters">
						<ul>
							<li class="active" data-filter=".all">| Todas las Categorias</li>
							<li data-filter=".branding">| Branding</li>
							<li data-filter=".creative">| Publicidad</li>
							<li data-filter=".web-design">| Desarrollo Web</li>
						</ul>
					</div>
				</div>
				-->
			</div>
			<!--Inician proyectos Gráficos-->
			<div class="filters-content">
				<div class="row grid">

					<div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="assets/img/work/MDMF-project-jucema.jpg" alt="">
							</div>
							<div class="middle">
								<h4>Web &amp; Identidad Visual</h4>
								<div class="cat">Mis Derechos Mi Futuro</div>
							</div>
							<a class="overlay" target="_blank" href="https://www.behance.net/gallery/77284121/Mis-Derechos-Mi-Futuro-Diseno-Grafico-Web"></a>
						</div>
					</div>

					<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design branding wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="assets/img/work/catalogo-lissypet-jucema.jpg" alt="">
							</div>
							<div class="middle">
								<h4>Catalogo de Productos</h4>
								<div class="cat">LissyPet®</div>
							</div>
							<a class="overlay" target="_blank" href="https://www.behance.net/gallery/77413259/LissyPet-Ropa-para-Mascotas"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all branding web-design wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="assets/img/work/codeco-web-jucema.jpg" alt="">
							</div>
							<div class="middle">
								<h4>Web Design Mockup</h4>
								<div class="cat">Codeco</div>
							</div>
							<a class="overlay" target="_blank" href="https://www.behance.net/gallery/77236159/Codeco-Diseno-desarrollo-y-despliegue-de-E-commerce"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="assets/img/work/ed-project-jucema.jpg" alt="">
							</div>
							<div class="middle">
								<h4>Branding Personal</h4>
								<div class="cat">Delgado Abogada</div>
							</div>
							<a class="overlay" target="_blank" href="https://www.behance.net/gallery/77237311/Delgado-Abogada-Creacion-de-Marca-Personal"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="assets/img/work/promo-facebookad-codeco-jucema.jpg" alt="">
							</div>
							<div class="middle">
								<h4>Facebook Ads </h4>
								<div class="cat">Codeco</div>
							</div>
							<a class="overlay" target="_blank" href="https://www.behance.net/gallery/77456783/Campanas-de-Marketing-Codeco"></a>
						</div>
					</div>
				</div>
			</div>
			<!--Inician proyectos Web-->

			<div class="section-title pweb">
					<h2>Proyectos Webs</h2>
					<p>Es un placer para mi presentarte algo de lo diseñado los 
						últimos años,  espero te guste tanto verlos como a mí me gusto diseñarlos.. </p>
			</div>
			<div class="section-gap-top section-gap-bottom-90">
				<div class="container">
					<div class="row">

						<!--Web Lissypet-->
						<div class="col-lg-3 card-web shadow-lg card grow">
								<div class="text-center align-items-center">
								  <div class="top-sec d-flex justify-content-center">
									<div class="top-left">
									  <img src="/assets/img/brand/lissypet-cliente.png" >
									  <p class="text-center">Web Single Page</p>
									</div>
								  </div>
								  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
									  <div>
										  <div class="icons-web">
											<i class="fab fa-html5"></i>
											<i class="fab fa-css3-alt"></i>
											<i class="fab fa-js-square"></i>
										  </div>
										  
									  </div>
									  <a class="primary-btn" data-text="Ver Trabajo" href="https://lissypet.com" target="_blank">
									  <span>V</span><span>e</span><span>r</span>
									  <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
									  </a>
								  </div>
								</div>
						</div>

						<!--Web Codeco-->
						<div class="col-lg-3 card-web shadow-lg card grow">
								<div class="text-center align-items-center">
								  <div class="top-sec d-flex justify-content-center">
									<div class="top-left">
									  <img src="/assets/img/brand/codeco-cliente.png" >
									  <p class="text-center">E-commerce</p>
									</div>
								  </div>
								  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
									  <div>
										  <div class="icons-web">
											<img class="icon-web-img" src="/assets/img/brand/prestashop.png" alt="Prestashop">
										  </div>
										  
									  </div>
									  <a class="primary-btn" data-text="Ver Trabajo" href="https://codeco.com.co" target="_blank">
									  <span>V</span><span>e</span><span>r</span>
									  <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
									  </a>
								  </div>
								</div>
						</div>

						<!--Web CMCS-->
						<div class="col-lg-3 card-web shadow-lg card grow">
								<div class="text-center align-items-center">
								  <div class="top-sec d-flex justify-content-center">
									<div class="top-left">
									  <img src="/assets/img/brand/cmcs-cliente.png" >
									  <p class="text-center">Web - E-commerce</p>
									</div>
								  </div>
								  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
									  <div>
										  <div class="icons-web">
											<img class="icon-web-img" src="/assets/img/brand/woocommerce.png" alt="Prestashop">
										  </div>
										  
									  </div>
									  <a class="primary-btn" data-text="Ver Trabajo" href="https://carmensmagicleaning.com/" target="_blank">
									  <span>V</span><span>e</span><span>r</span>
									  <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
									  </a>
								  </div>
								</div>
						</div>

					</div>
				</div>
			</div>

			<div class="section-gap-top section-gap-bottom-90">
					<div class="container">
						<div class="row">
	
							<!--Web Cameo-->
							<div class="col-lg-3 card-web shadow-lg card grow">
									<div class="text-center align-items-center">
									  <div class="top-sec d-flex justify-content-center">
										<div class="top-left">
										  <img src="/assets/img/brand/cameo-cliente.png" >
										  <p class="text-center">Web Wordpress</p>
										</div>
									  </div>
									  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
										  <div>
											  <div class="icons-web">
												<i class="fab fa-wordpress"></i>
												<i class="fab fa-html5"></i>
												<i class="fab fa-css3-alt"></i>
												<i class="fab fa-js-square"></i>
											  </div>
											  
										  </div>
										  <a class="primary-btn" data-text="Ver Trabajo" href="https://cameocomunicaciones.com/" target="_blank">
										  <span>V</span><span>e</span><span>r</span>
										  <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
										  </a>
									  </div>
									</div>
							</div>
	
							<!--Web Sofisis-->
							<div class="col-lg-3 card-web shadow-lg card grow">
									<div class="text-center align-items-center">
									  <div class="top-sec d-flex justify-content-center">
										<div class="top-left">
										  <img src="/assets/img/brand/sofisis-cliente.png" >
										  <p class="text-center">Web for SaaS</p>
										</div>
									  </div>
									  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
										  <div>
											  <div class="icons-web">
													<i class="fab fa-html5"></i>
													<i class="fab fa-css3-alt"></i>
													<i class="fab fa-js-square"></i>
											  </div>
											  
										  </div>
										  <a class="primary-btn" data-text="Ver Trabajo" href="https://jucema89.github.io/sofisis-project/" target="_blank">
										  <span>V</span><span>e</span><span>r</span>
										  <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
										  </a>
									  </div>
									</div>
							</div>
	
							<!--Web Esencias-Up -->
							<div class="col-lg-3 card-web shadow-lg card grow">
									<div class="text-center align-items-center">
									  <div class="top-sec d-flex justify-content-center">
										<div class="top-left">
										  <img src="/assets/img/brand/esencias-up-cliente.png" >
										  <p class="text-center">Web Multipage</p>
										</div>
									  </div>
									  <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
										  <div>
											  <div class="icons-web">
												<i class="fab fa-html5"></i>
												<i class="fab fa-css3-alt"></i>
												<i class="fab fa-js-square"></i>
											  </div>
											  
										  </div>
										  <a class="primary-btn" data-text="Ver Trabajo" href="https://jucema89.github.io/up-esencia/index.html" target="_blank">
										  <span>V</span><span>e</span><span>r</span>
										  <span>T</span><span>r</span><span>a</span><span>b</span><span>a</span><span>j</span><span>o</span>
										  </a>
									  </div>
									</div>
							</div>
	
						</div>
					</div>
				</div>
		</div>
	</section>
  <!-- End Work Area Area -->
  
  <app-contacto></app-contacto>