<!-- start banner Area -->
<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="title-projects col-md-6 col-md-offset-6">
					<div class="section-title">
						<h2>Proyectos </h2>
						<p>Es un placer para mi presentarte algo de lo creado los 
							últimos años,  espero te guste tanto verlos como a mí me gusto hacerlos. </p>
					</div>
				</div>
			</div>
		</div>
</section>
	<section class="work-area section-gap-top section-gap-bottom-90" id="work">
		<div class="container">
			<!-- <div class="row align-items-center align-items-end mb-80">
					<div class="col-lg-12">
					<div class="filters">
						<ul class="btn-group" role="group">
							<li class="active btn primary-btn btn-lg" data-filter=".all"> Todos </li>
							 <li data-filter=".branding">| Branding</li> 
							<li class="btn primary-btn btn-lg" data-filter=".creative"> Diseño Gráfico </li>
							<li class="btn primary-btn btn-lg" data-filter=".web-design"> Programación </li>
						</ul>
					</div>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary" (click)="clicker()">Todos</button>
						<button type="button" class="btn btn-secondary" (click)="filterProj('web-design')" >Proyectos Gráficos</button>
						<button type="button" class="btn btn-secondary" (click)="filterProj('creative')">Proyectos Dev</button>
					  </div>

					</div>
			</div> -->
			<!--Inician proyectos Gráficos-->
			<!-- <div>
				<div class="row grid">
					<div class="single-work col-lg-4 col-md-4 col-sm-12 all web-design wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/app-domino.png" alt="">
							</div>
							<div class="middle">
								<h4>App Escritorio</h4>
								<div class="cat">App Domino</div>
							</div>
							<a class="overlay" target="_blank" href="https://github.com/Jucema89/appDomino"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/web-lissypet.png" alt="">
							</div>
							<div class="middle">
								<h4>Desarrollo Ecommerce</h4>
								<div class="cat">Lissypet®</div>
							</div>
							<a class="overlay" target="_blank" href="https://lissypet.com/"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/full-domino-colombia-diseño-web.png" alt="">
							</div>
							<div class="middle">
								<h4>Desarrollo Web</h4>
								<div class="cat">Full Domino</div>
							</div>
							<a class="overlay" target="_blank" href="https://fulldominocolombia.com/"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/cmcs-cleaning-diseño-de-paginas-web.png" alt="">
							</div>
							<div class="middle">
								<h4>Desarrollo Web</h4>
								<div class="cat">CMCS Cleaning Ohio</div>
							</div>
							<a class="overlay" target="_blank" href="https://cmcscleaning.com/"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/catalogo-lissypet-julio-daza.jpg" alt="">
							</div>
							<div class="middle">
								<h4>Catálogo de Disfraces</h4>
								<div class="cat">Lissypet®</div>
							</div>
							<a class="overlay" target="_blank" href="https://es.calameo.com/read/0061054271a7a755ebadf"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/esencias-up-diseño-web.png" alt="">
							</div>
							<div class="middle">
								<h4>Desarrollo Web </h4>
								<div class="cat">Esencias Up</div>
							</div>
							<a class="overlay" target="_blank" href="https://jucema89.github.io/up-esencia/"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/catalogo-navidad-lissypet.png" alt="">
							</div>
							<div class="middle">
								<h4>Catálogo de Navidad</h4>
								<div class="cat">Lissypet®</div>
							</div>
							<a class="overlay" target="_blank" href="https://es.calameo.com/read/0061054276c607ca865c2"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/MDMF-project-jucema.jpg" alt="">
							</div>
							<div class="middle">
								<h4>Desarrollo Gráfico </h4>
								<div class="cat">Mis Derechos mi Futuro</div>
							</div>
							<a class="overlay" target="_blank" href="https://www.behance.net/gallery/77284121/Mis-Derechos-Mi-Futuro-Diseno-Grafico-Web"></a>
						</div>
					</div>
					<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../../../assets/img/work/cameo-website.png" alt="">
							</div>
							<div class="middle">
								<h4>Desarrollo Web </h4>
								<div class="cat">Cameo Comunicaciones</div>
							</div>
							<a class="overlay" target="_blank" href="https://cameocomunicaciones.com/"></a>
						</div>
					</div>
				</div>
			</div> -->
		
			<app-masonry-galery></app-masonry-galery>
		</div>
	</section>
 
  <app-contacto></app-contacto>
 