<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="about-content col-md-4 col-md-offset-8">
        <h1 class="section-title">
          Mis Habilidades
        </h1>
        <p class="link-nav">
          <span class="box white">
            Mis armas y superpoderes
          </span>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="job-area offwhite"> 
  <div class="container">
      <div class="row d-flex superpowers">
          <div class="col-lg-5 col-md-6 about-right">
            <div class="section-title">
              <h2>Mis Superpoderes</h2>
            </div> 
          </div>
      </div>
      <div class="row d-flex superpowers">
          <div class="col-md-4 about-right">
              <h4>Desarrollo Web</h4> 
              <p> Cuento con las mejores skills que me hacen eficaz en tareas de diseño, desarrollo e implementación de sitios web en solo código o usando un CMS. Conocedor de las últimas tecnologías y 
                herramientas en torno al FrontEnd; siento especial afinidad por el Framework Angular, pero
                abierto aprender e implementar otras tecnologías 
                (React – Vue - Ember).</p>        
        </div>
        <div class="col-md-8 row text-center">

            <div class="col-md-2 icon4 grow">
               <i class="fab fa-html5"></i>
            </div>
            <div class="col-md-2 icon6 grow">
                <i class="fab fa-css3-alt"></i>
            </div>
            <div class="col-md-2 icon2 grow">
              <i class="fab fa-js-square"></i>
            </div>
            <div class="col-md-2 icon1 grow">
              <i class="fab fa-angular"></i>
            </div>
            <div class="col-md-2 icon5 grow">
                <i class="fab fa-wordpress"></i>
            </div>
            <div class="col-md-2 icon grow">
              <i class="fab fa-node-js"></i>
          </div>
        </div>
    </div>
      <div class="row d-flex superpowers">
            <div class="col-lg-5 col-md-6 about-right">
            <h4>Diseño Gráfico</h4>
              <p>Creación de piezas gráficas únicas, basado en la idea del cliente; montaje de vistas previas y diseño de Mockups. Desarrollo de imagen corporativa y creación de Manuales de Identidad Visual y 
                corporativa, creación de piezas para publicidad impresa y digital, diseño de wireframes. 
                Actualmente aprendiendo diseño de interfaces para mejorar la Experiencia de Usuario UI/UX.</p>        
          </div>
            <div class="col-md-6 superpowers d-flex row text-center">
              <div class="col-md-4 fi1 grow">
                <i class="flaticon-adobe-illustrator"></i>
              </div>
              <div class="col-md-4 fi2 grow">
                <i class="flaticon-adobe-photoshop"></i>
              </div>
              <div class="col-md-4 fi3 grow">
                <i class="flaticon-adobe-indesign"></i>
              </div>
              
            </div>
      </div>
      <div class="row d-flex superpowers">
          <div class="col-lg-5 col-md-6 about-right">
          <h4>Otras Habilidades</h4>
            <p> Durante el tiempo trabajado y gracias a peticiones puntuales de los clientes he aprendido a manejar 
              ciertas tecnologías específicas; con las que más he desarrollado habilidad son: servidor apache, 
              manejo de terminal Linux, administración de DNS, en CMSs en Wordpress y woocommerce, para Ecommerce en Prestashop. </p>        
        </div>
          <div class="col-md-6 superpowers d-flex row text-center">
            <div class="col-md-4 grow">
              <img class="other-skills" src="/assets/img/brand/apache.png" alt="Apache Server">
            </div>
            <div class="col-md-4 fi2 grow">
                <img class="other-skills" src="/assets/img/brand/prestashop.png" alt="Prestashop">
            </div>
            <div class="col-md-4 fi3 grow">
                <img class="other-skills" src="/assets/img/brand/woocommerce.png" alt="Woocommerce">
            </div>
            
          </div>
    </div>
  </div>
  


  





</section> -->

<section id="skills-section">
  <div class="row">
    <!--Frontend-->
      <div class="container">
        <div class="col-lg-12">
          <div class="section-title">
              <h2>Frontend</h2>
              <p class="parrafo">Estas son las tecnologías que uso para desarrollar el front de soluciones digitales como apps y webs, consumiendo recursos desde bases de datos y APIs.</p>
          </div>
        <div class="cardSpecial proj-progress-card">
                      <div class="cardSpecial-block">
                          <div class="row">
                              <!--Card Skill Angular-->
                              <div class="col-lg-3 col-md-6 grow">
                                <div class="container">
                                <div class="row">
                                  <div class="iconSkill angularIcon col-md-4">
                                    <i class="fab fa-angular"></i>
                                  </div>
                                  <div class="col-md-8">
                                    <h6><a href="https://angular.io/" target="_blank">Angular Framework</a></h6>
                                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge bg-c-red white m-l-10">+90%</span>
                                    </h5>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="progress">
                                      <div class="progress-bar bg-c-red" style="width:90%"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                            <!--Card Skill End-->
                        <!--Card Skill Javascript-->
                        <div class="col-lg-3 col-md-6 grow">
                          <div class="container">
                          <div class="row">
                            <div class="iconSkill jsIcon col-md-4">
                              <i class="fab fa-js-square"></i>
                            </div>
                            <div class="col-md-8">
                              <h6><a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">Javascript / Lenguaje</a></h6>
                              <h5 class="m-b-30 f-w-700">Expertise<span class="badge black bg-c-yellow m-l-10">+90%</span></h5>
                            </div>
                            <div class="col-md-12">
                              <div class="progress">
                                <div class="progress-bar bg-c-yellow" style="width:90%"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Card Skill End-->
                        <!--Card Skill Electron-->
                      <div class="col-lg-3 col-md-6 grow">
                          <div class="container">
                          <div class="row">
                            <div class="iconSkill cssIcon col-md-4">
                              <i class="fas fa-atom"></i>
                            </div>
                            <div class="col-md-8">
                              <h6><a href="https://www.electronjs.org/" target="_blank">Electron Js / Framework Js</a></h6>
                              <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-blue m-l-10">+40%</span></h5>
                            </div>
                            <div class="col-md-12">
                              <div class="progress">
                                <div class="progress-bar bg-c-blue" style="width:40%"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <!--Card Skill End-->
                      <!--Card Skill Bootstrap-->
                    <div class="col-lg-3 col-md-6 grow">
                      <div class="container">
                      <div class="row">
                        <div class="iconSkill bootstrapIcon col-md-4">
                          <i class="fab fa-bootstrap"></i>
                        </div>
                        <div class="col-md-8">
                          <h6><a href="https://getbootstrap.com/" target="_blank">Bootstrap / Libreria de CSS</a></h6>
                          <h5 class="m-b-30 f-w-700">Expertise<span class="badge bg-c-purple white m-l-10">+95%</span></h5>
                        </div>
                        <div class="col-md-12">
                          <div class="progress">
                            <div class="progress-bar bg-c-purple" style="width:95%"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Card Skill Wordpress-->
                  <div class="col-lg-3 col-md-6 grow">
                    <div class="container">
                    <div class="row">
                      <div class="iconSkill cssIcon col-md-4">
                        <i class="fab fa-wordpress"></i>
                      </div>
                      <div class="col-md-8">
                        <h6><a href="https://wordpress.org/" 
                          target="_blank">Wordpress / CMS Web y Blogging</a></h6>
                        <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-blue m-l-10">+95%</span></h5>
                      </div>
                      <div class="col-md-12">
                        <div class="progress">
                          <div class="progress-bar bg-c-blue" style="width:95%"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <!--Card Skill End-->
                  <!--Card Skill End-->
                      <!--Card Skill Html5-->
                  <div class="col-lg-3 col-md-6 grow">
                        <div class="container">
                        <div class="row">
                          <div class="iconSkill htmlIcon col-md-4">
                            <i class="fab fa-html5"></i>
                          </div>
                          <div class="col-md-8">
                            <h6><a href="https://developer.mozilla.org/es/docs/HTML/HTML5" target="_blank">Html 5 / Lenguaje de marcado</a></h6>
                            <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-orange m-l-10">+95%</span></h5>
                          </div>
                          <div class="col-md-12">
                            <div class="progress">
                              <div class="progress-bar bg-c-orange" style="width:95%"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                    <!--Card Skill End-->
                    <!--Card Skill css3-->
                  <div class="col-lg-3 col-md-6 grow">
                      <div class="container">
                      <div class="row">
                        <div class="iconSkill cssIcon col-md-4">
                          <i class="fab fa-css3-alt"></i>
                        </div>
                        <div class="col-md-8">
                          <h6><a href="https://developer.mozilla.org/es/docs/Archive/CSS3" target="_blank">CCS3 / Estilos y animaciones</a></h6>
                          <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-blue m-l-10">+95%</span></h5>
                        </div>
                        <div class="col-md-12">
                          <div class="progress">
                            <div class="progress-bar bg-c-blue" style="width:95%"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Card Skill End-->
                    
                
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Database-->
      <div class="container">
        <div class="col-lg-12">
          <div class="section-title">
              <h2>Bases de Datos</h2>
              <p class="parrafo">Estas son las bases de datos que he utilizado desde su instalación hasta la creación de un sistema de CRUD que exponga datos.</p>
          </div> 
        <div class="cardSpecial proj-progress-card">
                      <div class="cardSpecial-block">
                          <div class="row">
                            <!--Card Skill Mongo-->
                              <div class="col-lg-3 col-md-6 grow">
                                <div class="container">
                                <div class="row">
                                  <div class="iconSkill nodejsIcon col-md-4">
                                    <i class="fab fa-envira"></i>
                                  </div>
                                  <div class="col-md-8">
                                    <h6><a href="https://www.mongodb.com/" target="_blank">Mongo DB / No Relacional</a></h6>
                                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-green m-l-10">+75%</span></h5>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="progress">
                                      <div class="progress-bar bg-c-green" style="width:75%"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                            <!--Card Skill CouchDB-->
                              <div class="col-lg-3 col-md-6 grow">
                                <div class="container">
                                <div class="row">
                                  <div class="iconSkill angularIcon col-md-4">
                                    <i class="fas fa-couch"></i>
                                  </div>
                                  <div class="col-md-8">
                                    <h6><a href="https://couchdb.apache.org/" target="_blank">Couch DB / No Relacional</a></h6>
                                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge bg-c-red white m-l-10">+70%</span>
                                    </h5>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="progress">
                                      <div class="progress-bar bg-c-red" style="width:70%"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                            <!--Card Skill End-->
                            <!--Card Skill NodeJs-->
                            <div class="col-lg-3 col-md-6 grow">
                              <div class="container">
                              <div class="row">
                                <div class="iconSkill nodejsIcon col-md-4">
                                  <i class="fas fa-horse-head"></i>
                                </div>
                                <div class="col-md-8">
                                  <h6><a href="https://pouchdb.com/" target="_blank">Pouch DB / No Relacional</a></h6>
                                  <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-green m-l-10">+90%</span></h5>
                                </div>
                                <div class="col-md-12">
                                  <div class="progress">
                                    <div class="progress-bar bg-c-green" style="width:90%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--Card Skill End-->
                            <!--Card Skill Mysql-->
                        <div class="col-lg-3 col-md-6 grow">
                          <div class="container">
                          <div class="row">
                            <div class="iconSkill cssIcon col-md-4">
                              <i class="fas fa-database"></i>
                            </div>
                            <div class="col-md-8">
                              <h6><a href="https://www.mysql.com/" target="_blank">MySql DB / Relacional</a></h6>
                              <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-blue m-l-10">+50%</span></h5>
                            </div>
                            <div class="col-md-12">
                              <div class="progress">
                                <div class="progress-bar bg-c-blue" style="width:50%"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                      <!--Card Skill End-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Backend-->
      <div class="container">
        <div class="col-lg-12">
          <div class="section-title">
              <h2>Backend</h2>
              <p class="parrafo">En lo que ha Backend se refiere Node JS con Express me ha sido suficiente para crear APIs rápidamente, también conozco de PHP para manejo de los CMS´s más comunes.</p>
          </div> 
        <div class="cardSpecial proj-progress-card">
          <div class="cardSpecial-block">
                          <div class="row">
                            <!--Card Skill NodeJs-->
                            <div class="col-lg-3 col-md-6 grow">
                              <div class="container">
                              <div class="row">
                                <div class="iconSkill nodejsIcon col-md-4">
                                  <i class="fab fa-node-js"></i>
                                </div>
                                <div class="col-md-8">
                                  <h6><a href="https://nodejs.org/es/" target="_blank">Node Js / Entorno Backend</a></h6>
                                  <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-green m-l-10">+60%</span></h5>
                                </div>
                                <div class="col-md-12">
                                  <div class="progress">
                                    <div class="progress-bar bg-c-green" style="width:60%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                          <!--Card Skill End-->
                            <!--Card Skill php-->
                          <div class="col-lg-3 col-md-6 grow">
                              <div class="container">
                              <div class="row">
                                <div class="iconSkill cssIcon col-md-4">
                                  <i class="fab fa-php"></i>
                                </div>
                                <div class="col-md-8">
                                  <h6><a href="https://www.php.net/manual/es/intro-whatis.php" target="_blank">PHP / Lenguaje</a></h6>
                                  <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-blue m-l-10">+50%</span></h5>
                                </div>
                                <div class="col-md-12">
                                  <div class="progress">
                                    <div class="progress-bar bg-c-blue" style="width:50%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--Card Skill End-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Devops-->
    <div class="col-lg-12">
      <div class="container">
        <div class="section-title">
          <h2>DevOps</h2>
          <p class="parrafo">Al realizar Deploy en VPS´s o servicios cloud puedo garantizar la estabilidad y seguridad de dichos despliegues gracias a estas tecnologías.</p>
      </div> 
        <div class="cardSpecial proj-progress-card">
          <div class="cardSpecial-block">
            <div class="row">
              <!--Ubuntu-->
              <div class="col-lg-3 col-md-6 grow">
                <div class="container">
                <div class="row">
                  <div class="iconSkill htmlIcon col-md-4">
                    <i class="fab fa-ubuntu"></i>
                  </div>
                  <div class="col-md-8">
                    <h6><a href="https://ubuntu.com/" target="_blank">Ubuntu Server / Deploy Server</a></h6>
                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-orange m-l-10">+70%</span></h5>
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div class="progress-bar bg-c-orange" style="width:70%"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <!--Certbot-->
              <div class="col-lg-3 col-md-6 grow">
                <div class="container">
                <div class="row">
                  <div class="iconSkill nodejsIcon col-md-4">
                    <i class="fas fa-lock"></i>
                  </div>
                  <div class="col-md-8">
                    <h6><a href="https://certbot.eff.org/" target="_blank">Certbot / SSL - https</a></h6>
                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-green m-l-10">+90%</span></h5>
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div class="progress-bar bg-c-green" style="width:90%"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <!--Apache-->
              <div class="col-lg-3 col-md-6 grow">
                <div class="container">
                <div class="row">
                  <div class="iconSkill angularIcon col-md-4">
                    <i class="fas fa-feather-alt"></i>
                  </div>
                  <div class="col-md-8">
                    <h6><a href="https://httpd.apache.org/" target="_blank">Apache2 / Server Web</a></h6>
                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge bg-c-red white m-l-10">+90%</span>
                    </h5>
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div class="progress-bar bg-c-red" style="width:90%"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
                <!--Card Skill Linux-->
              <div class="col-lg-3 col-md-6 grow">
                <div class="container">
                <div class="row">
                  <div class="iconSkill linuxIcon col-md-4">
                    <i class="fas fa-terminal"></i>
                  </div>
                  <div class="col-md-8">
                    <h6><a href="https://es.wikipedia.org/wiki/Secure_Shell" target="_blank">Terminal / SSH - FTP</a></h6>
                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge badge-dark  m-l-10">+90%</span></h5>
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div class="progress-bar bg-c-dark" style="width:90%"></div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
                
                <div class="col-md-6 offset-md-3 mt-4 card shadow bg-light  p-2">
                  <div class="row">
                    <div class="col-md-2 text-center">
                      <i class="lnr lnr-cloud-upload iconSmall"></i>
                    </div>
                    <div class="col-md-10 text-left">
                      <small> 
                        Despliegues realizados en: <a class="link pr-2" target="_blank" href="https://www.ovh.com/world/es/">OVH</a> <a class="link pr-2" target="_blank" href="https://www.digitalocean.com/">Digital Ocean</a><a class="link pr-2" target="_blank" href="https://cloud.google.com">Google Cloud</a>
                      </small>
                    </div>
                  </div>
                </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="container">
        <div class="section-title">
              <h2>Diseño Gráfico</h2>
              <p class="parrafo">En diseño gráfico he diseñado identidad gráfica de marcas, portafolios y fotografía de producto, usó el software de referencia en la industria: la suite de adobe.</p>
        </div> 
        <div class="cardSpecial proj-progress-card">
          <div class="cardSpecial-block">
            <div class="row">
              <!--Illustrator-->
              <div class="col-lg-3 col-md-6 grow">
                <div class="container">
                <div class="row">
                  <div class="iconSkill jsIcon col-md-4">
                    <i class="flaticon-adobe-illustrator"></i>
                  </div>
                  <div class="col-md-8">
                    <h6><a href="https://www.adobe.com/la/products/illustrator.html" target="_blank">Adobe Illustrator / Edición Gráfica Vectorial </a></h6>
                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-yellow m-l-10">+90%</span></h5>
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div class="progress-bar bg-c-yellow" style="width:90%"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <!--Photoshop-->
              <div class="col-lg-3 col-md-6 grow">
                <div class="container">
                <div class="row">
                  <div class="iconSkill cssIcon col-md-4">
                    <i class="flaticon-adobe-photoshop"></i>
                  </div>
                  <div class="col-md-8">
                    <h6><a href="https://www.adobe.com/la/products/photoshop/free-trial-download.html" target="_blank">Adobe Photoshop / Edición de Imagenes</a></h6>
                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-blue m-l-10">+80%</span></h5>
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div class="progress-bar bg-c-blue" style="width:80%"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <!--Indesign-->
              <div class="col-lg-3 col-md-6 grow">
                <div class="container">
                <div class="row">
                  <div class="iconSkill indesignIcon col-md-4">
                    <i class="flaticon-adobe-indesign"></i>
                  </div>
                  <div class="col-md-8">
                    <h6><a href="https://www.adobe.com/la/products/indesign.html" target="_blank">Adobe InDesign / Edición de Impresos</a></h6>
                    <h5 class="m-b-30 f-w-700">Expertise<span class="badge white bg-c-fucsia m-l-10">+80%</span></h5>
                  </div>
                  <div class="col-md-12">
                    <div class="progress">
                      <div class="progress-bar bg-c-fucsia" style="width:80%"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contacto></app-contacto>