<section id="twoproyects-section" class="section-gap-top section-gap-bottom-90">
  <div class="container">
      <div class="col-lg-12 mb-5">
        <div class="section-title ">
          <h2>
            Últimos Proyectos
          </h2>
        </div>
      </div>
      <div class="row mt-5">
      <div class="col-lg-6 col-sm-12">
          <div class="profile-card-6"><img src="../../../assets/img/work/app-domino-project.png" class="img img-responsive">
              <div class="profile-name">App
                  <br>Domino</div>
              <div class="profile-position">Gestión de Torneos
              </div>
                  <div class="profile-overview">
                      <div class="text-center">
                        <a class="primary-btn" data-text="Ver Proyecto" href="https://github.com/Jucema89/appDomino" target="_blank">
                          <span>V</span><span>e</span><span>r</span>
                          <span>P</span><span>r</span><span>o</span><span>y</span><span>e</span><span>c</span><span>t</span><span>o</span>
                        </a>
                      </div>
                  </div>
          </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="profile-card-6"><img src="../../../assets/img/work/web-lissypet-julio-daza.png" class="img img-responsive">
            <div class="profile-name">Lissypet
                <br>Ecommerce</div>
            <div class="profile-position">Tienda de Ropa para mascotas
            </div>
                <div class="profile-overview">
                    <div class="text-center">
                      <a class="primary-btn" data-text="Ver Proyecto" href="https://lissypet.com/co/" target="_blank">
                        <span>V</span><span>e</span><span>r</span>
                        <span>P</span><span>r</span><span>o</span><span>y</span><span>e</span><span>c</span><span>t</span><span>o</span>
                      </a>
                    </div>
                </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 text-center p-5">
      <button class="primary-btn btn-skills" routerLink="portafolio" data-text="Ver Portafolio">
        <span>V</span>
				<span>e</span>
        <span>r</span>
        <span>_</span>
        <span>P</span>
				<span>o</span>
				<span>r</span>
				<span>t</span>
        <span>a</span>
        <span>f</span>
        <span>o</span>
        <span>l</span>
        <span>i</span>
        <span>o</span>
      </button>
    </div>
    </div>
  </div>
</section>